<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{admin/common/on-load-file} :: commonOnLoadfile(#{Dashboard} + ' ﹤ Hydro')">
</head>
<body>
<th:block th:if="${pjaxLoad == null}">
    <header th:replace="@{admin/common/main} :: adminHeader"></header>
    <aside th:replace="@{admin/common/main} :: adminSide(#{Dashboard})"></aside>
</th:block>
    <section>
        <div class="main-layout">
            <div class="ui large inline header" th:text="#{Dashboard}"></div>
            <div class="ui segment">
                <div class="ui big header">
                    Welcome to Hydro!
                    <div class="sub header">
                        We’ve assembled some quick links:
                    </div>
                </div>
                <div class="ui three column grid">
                    <div class="column">
                        <div class="ui small header">Article Part</div>
                        <a class="ui button green basic" href="/admin/article/add">
                            Write a New Post
                        </a>
                        <div class="ui list">
                            <a class="item" href="/admin/article">
                                <i class="icon file alternate"></i>
                                Article list
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui small header">More actions</div>
                        <div class="ui list">
                            <a class="item" href="/admin/media">
                                <i class="icon images outline"></i>
                                Media Content
                            </a>
                            <a class="item" href="/admin/theme">
                                <i class="icon anchor"></i>
                                Theme List
                            </a>
                            <a class="item" href="/admin/setting">
                                <i class="icon cogs"></i>
                                WebSite Setting
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui small header">At a Glance</div>
                        <div class="ui list">
                            <div class="item">
                                <i class="icon file alternate"></i>
                                <div class="content">
                                    <a href="/admin/article" th:text=" ${articleAmount} + ' Post'"></a>
                                </div>
                            </div>
                            <div class="item">
                                <i class="icon images outline"></i>
                                <div class="content">
                                    <a href="/admin/media" th:text="${mediaAmount} + ' Media'"></a>
                                </div>
                            </div>
                            <div class="item">
                                <i class="icon anchor"></i>
                                <div class="content">
                                    <a href="/admin/theme" th:text="${themeAmount} + ' Theme'"></a>
                                </div>
                            </div>
                        </div>
                        <a class="ui green basic label" href="/admin/theme">
                            Hydro running <i th:text="${themeName}"></i> theme
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui grid three column">
                <div class="column">
                    <div class="ui center aligned segment">
                        <div class="ui header">Site Data View</div>
                        <div class="ui statistics">
                            <div class="statistic">
                                <div class="value" th:text="'+' + ${todayVisitCount}"></div>
                                <div class="label">Today's visits</div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    <i class="icon chart bar outline"></i>
                                    <th:block th:text="${totalVisitCount}"></th:block>
                                </div>
                                <div class="label">Total traffic</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
