<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdn.bootcss.com/noty/3.1.4/noty.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/noty/3.1.4/noty.css" rel="stylesheet">
    <link href="/css/initial/initialProcess.css" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/image/icon.ico}" type="image/x-icon">
    <title th:text="#{initial}"></title>
</head>
<body>
    <header>
        <h1 class="ui header center aligned top-alert" th:text="#{initial.setup}"></h1>
    </header>
    <main>
        <div class="ui container center aligned info-content">
            <div class="ui steps">
                <div class="step active" :class="{active: currentStep == 0}">
                    <i class="chess yellow icon"></i>
                    <div class="content">
                        <div class="title" th:text="#{initial.signup}"></div>
                        <div class="description" th:text="#{initial.signup.tip}"></div>
                    </div>
                </div>
                <div class="step" :class="{active: currentStep == 1}">
                    <i class="info blue icon"></i>
                    <div class="content">
                        <div class="title" th:text="#{initial.fill}"></div>
                        <div class="description" th:text="#{initial.fill.tip}"></div>
                    </div>
                </div>
                <div class="step" :class="{active: currentStep == 2}">
                    <i class="envira green icon"></i>
                    <div class="content">
                        <div class="title" th:text="#{initial.finish}"></div>
                        <div class="description" th:text="#{initial.finish.tip}"></div>
                    </div>
                </div>
            </div>
            <div class="ui compact left aligned segment" v-show="currentStep == 0">
                <div class="ui form account-info">
                    <div class="field">
                        <label th:text="#{initial.field.account}"></label>
                        <input name="account" v-model="user.account">
                    </div>
                    <div class="field">
                        <label th:text="#{initial.field.password}"></label>
                        <input name="password" type="password" v-model="user.password">
                    </div>
                </div>
            </div>
            <div class="ui compact left aligned segment" v-show="currentStep == 1">
                <div class="ui form user-info">
                    <div class="field">
                        <label th:text="#{initial.field.username}"></label>
                        <input name="username" v-model="user.userName">
                    </div>
                    <div class="field">
                        <label th:text="#{initial.field.email}"></label>
                        <input name="email" v-model="user.email">
                    </div>
                    <div class="field">
                        <label th:text="#{initial.field.github}"></label>
                        <input name="github" v-model="user.github">
                    </div>
                </div>
            </div>
            <div class="ui compact left aligned segment" v-show="currentStep == 2">
                <div class="ui header green">
                    <i class="thumbs up outline icon"></i>
                    <th:block th:text="#{initial.finish.description}"></th:block>
                </div>
            </div>
            <div class="ui buttons">
                <div class="ui yellow button" v-show="currentStep > 0" @click="prevStep" th:text="#{initial.prestep}"></div>
                <div class="ui blue button" v-show="currentStep < 2" @click="nextStep" th:text="#{initial.nextstep}">Next Step</div>
                <div class="ui green button" v-show="currentStep == 2" @click="submit" th:text="#{initial.finish}"></div>
            </div>
        </div>
    </main>
    <script>
        var message = {
            account_empty: "[[#{initial.account_empty}]]",
            account_less_charset: "[[#{initial.account_less_five}]]",
            password_empty: "[[#{initial.password_empty}]]",
            password_less_charset: "[[#{initial.password_less_six}]]",
            username_empty: "[[#{initial.username_empty}]]"
        }
    </script>
    <script src="/js/initial/initialProcess.js"></script>
</body>
</html>