<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Archives - Hydro</title>
    <link rel="shortcut icon" href="/image/icon.ico" type="image/x-icon">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/source/css/main.css">
    <link rel="stylesheet" type="text/css" href="/source/css/archives.css">
</head>
<body>
    <aside>
        <top-menu th:about-path="${option.About_Link}"></top-menu>
    </aside>
    <main>
        <div class="ui container">
            <div class="ui segment basic">
                <div class="ui header big center aligned">归档</div>
                <div class="ui segment basic timeline out-line">
                    <div class="ent-point"></div>
                    <div class="point"></div>
                    <span class="ui header">{{postAmount}} Posts</span>
                    <div class="ui segment basic timeline" v-for="(v, year) in timeline">
                        <div class="small point"></div>
                        <span class="ui header small">{{year}}</span>
                        <div class="ui segment basic timeline" v-for="(posts, monthDate) in v">
                            <div class="tiny point"></div>
                            <span class="ui header tiny">{{monthDate}}</span>
                            <div class="ui segment basic">
                                <div class="ui list very relaxed link horizontal" v-for="post in posts">
                                    <a class="item" :href="'/post/' + post.id">{{post.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script src="/source/js/main.js"></script>
<script src="/source/js/archives.js"></script>
</body>
</html>